<h1>Perfil</h1>
<div ng-if="perfil.mostrarDados">
    <ul>
        <li>
            Nome: {{perfil.UsuarioService.usuario.nome}}
        </li>
        <li>
            Email: {{perfil.UsuarioService.usuario.email}}
        </li>
        <li>
            Telefone: {{perfil.UsuarioService.usuario.telefone}}
        </li>
    </ul>
</div>
<button type="button" ui-sref="app.home" class="btn btn-info">Home</button>
<button type="button" ui-sref="app.editar" class="btn btn-info">API</button>
<button type="button" ng-click="perfil.mostrarDados = !perfil.mostrarDados" class="btn btn-info">
    {{perfil.mostrarDados ? 'Esconder' : 'Mostrar'}}
</button>
